body {
	margin: 0;
	font-family: 'Inter', system-ui;
	background-color: #e7f6ff;
}

* {
	padding: 0;
	margin: 0;
}

.wrapper {
	margin: auto;
	margin-top: 85px;
	margin-bottom: 85px;
	width: 100%;
	max-width: 1080px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 17px;
	color: #191919;
	background-color: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;

	.header {
		display: flex;
		justify-content: space-between;
		padding: 43px 60px 45px;
		border-bottom: 2px solid #eaeaea;

		.logo {
			display: flex;
			justify-content: space-between;

			img {
				width: 40px;
				height: 40px;
				margin-right: 16px;
			}

			.logoName {
				.logoTitle {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 700;
					font-size: 20px;
					line-height: 24px;
					text-transform: uppercase;
					color: #000000;
				}

				.logoSubtitle {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
					color: #9d9d9d;
				}
			}
		}

		.profile {
			display: flex;
			justify-content: space-between;

			.myCart {
				display: flex;
				justify-content: space-between;
				margin-right: 30px;

				img {
					margin-right: 10px;
					width: 18px;
					height: 17px;
				}
			}

			.favorite {
				width: 21px;
				height: 19px;
				margin-right: 30px;
			}
			.profileSvg {
				width: 20px;
				height: 20px;
			}
		}
	}

	.reklama {
		text-align: center;
		margin: 45px auto 37px;
	}

	.shop {
		margin-left: 60px;
		margin-right: 60px;
		.shop__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 40px;

			.shop__title {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 32px;
				line-height: 39px;
			}

			.shop__search {
				position: relative;
				img {
					position: absolute;
					top: 15px;
					left: 18px;
				}
				input {
					width: 200px;
					height: 45px;
					padding-left: 48px;
					border: 1px solid #f3f3f3;
					border-radius: 10px;
				}
			}
		}

		.shop__catalog {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}
